.ui-dt-host {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100000;
    color: #3e3d3d;
    border-color: #888888;
    border:2px solid;
    border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
    background-color: #b8b2b2;
    -moz-opacity:.80; 
    filter:alpha(opacity=80); 
    opacity:.80; 
    /*box-shadow: 10px 10px 5px #888888;*/
}

.ui-dt-table {
    color: #888888;
    margin: 5px 5px 5px 5px;
    border-color: red;
    border-width: 2px;
}

.ui-dt-field {
    font-weight: bold;
    color: lightgray;   
}

.ui-dt-symbol {
    font-weight: lighter;
    color: lightsalmon;   
}

.ui-dt-crosshair {
    color: blueviolet;   
}

.ui-dt-data 
{
    text-align: right;
    color: lightblue;   
}

/* test */

.ui-dt-time {
    color: white   
}

.ui-dt-value-bull 
{
    text-align: right;
    color: blue;
}

.ui-dt-value-bear 
{
    text-align: right;
    color: #F00;
}

.ui-dt-value-neutral 
{
    text-align: right;
    color: yellow;
}

/* test */