@import './statusline.css';
@import './superscroller.css';
body{
    font-family: sans-serif;
}
.testCases{
    color: #666;
    display: none;
}
.testCases h3{
    font-size: 12px;
}
.testCases li{
    font-size: 11px;
}
#testSuite{
    width: 80%;
    font-size: 21px;
    text-align: center;
    position: relative;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px 0;
}
#testSuite:before{
    content: 'Current Suite';
    position: absolute;
    left: 2px;
    top:2px;
    font-size: 14px;
    color: #ccc;
    font-style: italic;
}
#testCase{
    width: 80%;
    font-size: 21px;
    text-align: center;
    position: relative;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px 0;
}
#testCase:before{
    content: 'Current Test Case';
    position: absolute;
    left: 2px;
    top:2px;
    font-size: 14px;
    color: #ccc;
    font-style: italic;
}
#testsCompleteNotice{
    background: #F8FC8A;
    border: 1px solid #FFD000;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    width: 80%;
    display: none;
    margin-top: 20px;
}
#parent, #chart{
    width: 800px;
    height: 500px;
}
#chart{
    position: relative;
}
.watermark{
    font-size: 60px;
    color: #fff;
    text-align: center;
    opacity: 0.1;
}
.watermarkWrapper{
    position: absolute;
    top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.watermarkSymbol{
    font-size: 120px;
}
.watermarkInterval{
    font-size: 40px;
    text-transform: uppercase;
}
.off{
    display: none;
}
.ui-dt-host1{
    background: #eee;
}


.printer{
    background-color: transparent;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
.chartSection{
    position: absolute;
    top:0;
    left:0;
}
.subGraphHeader{
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    width: auto;
    overflow: hidden;
    text-align: left;
    padding-left: 20px;
}
